/* ПЕРЕМЕННЫЕ */
:root{
  --main-background-color: #ffffff;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #FFFFFF;
  --akcent-color: #2196F3;
  --main-font: Roboto, sans-serif;
  --minor-font: Raleway, sans-serif;
  --spacing: 0.03em;
  --card-set-gap: 30px; 

}

/* БАЗОВЫЕ НАСТРОЙКИ */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.page-body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  letter-spacing: var(--spacing);
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  padding-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}


/* КОНТЕЙНЕР*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; 
}


/* ШАПКА */
.header-container,
.logo,
.nav-list,
.nav-item,
.nav {
  display: flex;
  margin-top: 0;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  border-bottom: 1px solid #ECECEC;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav,.nav-list {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

}

.logo {
  margin-right: 93px;


  font-family: var(--minor-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--spacing);
}

.web {
  color: var(--akcent-color);
}

.studio {
  color: #000000;
}

.nav-social-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.nav-link:hover,.nav-link:focus {
  color: #188ce8;
}

.current {
  color: var(--akcent-color);
}


/* КНОПКИ-ФИЛЬТРЫ */
.filters-container {
  padding-top: 102px;
  padding-bottom: 50px;
}

.filter-list,
.button-filter {
  display: flex;
  justify-content: center;

}
.button-filter {
  margin-right: 8px;
  

}
/* КАРТОЧКИ-СЕТКА ПОРТФОЛИО */
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 86px;
  
}

/* card-set */
.card-set {
  /* outline: 1px solid tomato; */
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: calc( -1 * var(--card-set-gap));
  margin-top: calc( -1 * var(--card-set-gap));
}

.card-set > .item {
  /* outline: 1px solid teal; */

  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);

}

.hero-container {
  padding-top: 211px;
  padding-bottom: 189px;
}
.hero {
  background-color:#2F303A;

}

.hero-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  padding: 10px 32px;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
   
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--akcent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

.button-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: var(--spacing);
  color: var(--main-text-color);
  background: #F5F4FA;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--akcent-color);
  color: var(--white-text-color);
} 

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
} 
.basement {
  background-color: #2F303A;
}

.footer-container {
  display: inline-block;
  justify-content: left;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-studio {
  color: var(--white-text-color);
}

.footer-list {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--spacing);
  color: #FFFFFF;
}

.social-list {
  color: rgba(255, 255, 255, 0.6);
}

.title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.subtitle {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  color: var(--main-text-color);
}

.text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--spacing);
  color: var(--secondary-text-color);
}

.specialist-name {

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: var(--spacing);
  color: var(--main-text-color);
}

.name-project {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.worktype {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88x;
  letter-spacing: var(--spacing);
  color: var(--secondary-text-color);
}

.profession {
  margin-top: 10px;
  

  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: var(--spacing)
  color: var(--secondary-text-color);
}




/* СЕТКА НАША КОМАНДА */
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #F5F4FA;
  
  
}

.team-list {
  /* outline: 1px solid tomato; */
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: calc( -1 * var(--card-set-gap));
  
  
}

.team-list > .team-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: 50px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  

  
}

.team-title {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-background-color);
}
